@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$Tomato: hsl(4, 100%, 67%);
$Dark-Slate-Grey: hsl(234, 29%, 20%);
$Charcoal-Grey: hsl(235, 18%, 26%);
$Grey: hsl(231, 7%, 60%);
$White: hsl(0, 0%, 100%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $Charcoal-Grey;

    .container {
        max-width: 400px;
        border-radius: 2rem;

        .title {
            color: $Dark-Slate-Grey;
            line-height: 1em;
        }

        .information {
            color: $Charcoal-Grey ;
            font-size: .8rem;
            line-height: 1.5em;
        }

        .dismiss-btn {
            width: 100%;
            text-decoration: none;
            text-align: center;
            padding: 10px;
            color: $White;
            border: none;
            border-radius: .5rem;
            background: $Dark-Slate-Grey;

            &:hover {
                background: $Tomato;
                box-shadow: 0px 5px 20px $Tomato;
            }
        }

    }

    @media screen and (max-width: 550px){
        .container-fluid{
            height: 100vh;

            .container{
                width: 100% !important;
                border-radius: 0;
                justify-content: space-around;
            }
        }

    }
}