@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

$Very-dark-cyan: hsl(183, 100%, 15%);
$Dark-grayish-cyan: hsl(186, 14%, 43%);
$Grayish-cyan: hsl(184, 14%, 56%);
$Light-grayish-cyan: hsl(185, 41%, 84%);
$Very-light-grayish-cyan: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);
$Strong-cyan: hsl(172, 67%, 45%);

body {
    font-family: 'Space Mono', monospace;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $Light-grayish-cyan;

    @mixin inputClass {
        position: relative;
        display: flex;
        align-items: center;

        .input {
            text-align: end;
            background: $Very-light-grayish-cyan;
            color: $Very-dark-cyan;
            font-size: 1.5rem;

            &:focus {
                outline: 2px solid $Strong-cyan;
            }
        }

        .icon {
            position: absolute;
            left: 10px;
        }
    }

    .container {
        width: min(800px, 90%);
        background: $White;
        padding: 20px 30px;
        border-radius: 1.5rem;

        .top-input-area {
            .img-input {
                @include inputClass;
            }
        }


        .select-tip-group {
            .tip-group-item {
                background: $Very-dark-cyan;
                color: $White;
                text-align: center;
                border-radius: .5rem;
                height: 40px;
                font-size: 1.2rem;

                &:hover{
                    background-color: $Light-grayish-cyan;
                    color: $Very-dark-cyan;
                }

            }

            .buttonClicked{
                background-color: $Strong-cyan;
            }


            #custom-con {
                font-size: 1.5rem;
                position: relative;

                #custom {
                    border-radius: .5rem;
                    cursor: pointer;
                    background: $Very-light-grayish-cyan;
                    color: $Very-dark-cyan;

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                    }

                    &:focus{
                        outline-color: $Strong-cyan;
                    }
                }

                label {
                    position: absolute;
                    pointer-events: none;
                    opacity: 50%;
                }

                #custom:focus~label{
                    display: none;
                }
            }
        }

        .people-input-area {
            .img-input {
                @include inputClass;
            }

            .peopleChanged{
                outline-color: red !important; 
            }
        }


        #right-section {
            background: $Very-dark-cyan;
            border-radius: 1rem;

            .price{
                color: $Strong-cyan;
                font-size: 2rem;
            }

            .btn{
                text-transform: uppercase;
                font-size: 1.5rem;
                background: rgba($White, $alpha: .2);
                color: $Very-dark-cyan;

                &:hover{
                    background-color: $Very-light-grayish-cyan;
                }
            }

            .resetChanged{
                background-color: $Strong-cyan;
            }
        }
    }
}

.opac-50 {
    opacity: 50%;
}