* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
    background: hsl(275, 100%, 97%);
    font-family: 'Work Sans';
    background-image: url("img/background-pattern-desktop.svg");
    background-repeat: no-repeat;
}

.container {
    width: 550px;
    background-color: #fff;
    border-radius: 1rem;
}

.content{
    padding: 20px;
}

.title {
    margin: 20px 10px;
}

.title h1 {
    font-weight: 700;
    font-size: 3rem;
}

.question {
    padding-block: 10px;
    margin: 20px;
    border-bottom: 1px solid rgba(208, 208, 208, .5);
    cursor: pointer;
}

.ask{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question p {
    font-weight: 600;
}

.ask:hover p {
    color: #AD28EB;
}

.info .parag {
    font-weight: normal;
    height: 0;
    opacity: 0;
    transition: height 100ms linear;
}